.tool-select {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: auto;
  cursor: none;

  .hovering {
    position: absolute;
    background-color: steelblue;
    border: 1px solid red;
    box-sizing: border-box;
    opacity: .1;
  }

  .selecting {
    position: absolute;
    background-color: steelblue;
    opacity: .15;
  }

}